<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.atguigu.mapperTest.BMapper">


    <resultMap id="getAllBMap" type="B">
        <id column="b_id" property="bId"/>
        <result column="b_name" property="bName"/>
        <association property="c" javaType="C"
                     select="com.atguigu.mapperTest.CMapper.getAllC"
                     column="c_id"
                     fetchType="lazy"
        />

    </resultMap>

    <select id="getAllB" resultMap="getAllBMap">
        select  * from b where b_id=#{id}
    </select>
</mapper>
