<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.atguigu.mapperTest.CartMapper">

    <resultMap id="getAllCartMap" type="Cart">
        <id column="id" property="id"/>
        <result column="buyCount" property="buyCount"/>
        <association property="book" javaType="Book"
                     select="com.atguigu.mapperTest.BookMapper.getAllBook"
                     column="book"
        />
        <association property="userBean" javaType="User"
                     select="com.atguigu.mapperTest.UserMapper.getAllBookUser"
                     column="userBean"
        />
    </resultMap>


    <select id="getAllCart" resultMap="getAllCartMap">
        select *
        from t_cart_item
        where userBean = #{id}
    </select>

    <select id="getAllCart2" resultMap="getAllCartMap">
        select *
        from t_cart_item
        where userBean = #{userBean}
    </select>
</mapper>
