<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.atguigu.mapperTest.UserMapper">

    <resultMap id="getBookUserAndCartMap" type="BookUser">
        <id column="id" property="id"/>
        <result column="uname" property="uname"/>
        <collection property="carts" ofType="Cart"
                    column="id"
                    select="com.atguigu.mapperTest.CartMapper.getAllCart2"
        />
    </resultMap>


    <select id="getAllBookUser" resultType="com.atguigu.pojoTest.BookUser">
        select *
        from t_user
        where id = #{id}
    </select>
    <select id="getBookUserAndCart" resultMap="getBookUserAndCartMap">
        select *
        from t_user
        where id = #{id}
    </select>
    <select id="getBookUserAndCartByMap" resultMap="getBookUserAndCartMap">
        select *
        from t_user
        where id = #{id}
    </select>
</mapper>
